# Compute marks occurence from a csv file

First we need to import a library, and load the csv file thanks to it.

In [44]:
import pandas
filePath = r"C:\Users\dsaintpierre\Downloads\ml-100k\u.data"
nba = pandas.read_csv(filePath,sep="\t",header=None,names=["User","Item","Mark","Timestamp"])

It can be interesting to display the dataset layout.

In [45]:
nba.head(10)

   User  Item  Mark  Timestamp
0   196   242     3  881250949
1   186   302     3  891717742
2    22   377     1  878887116
3   244    51     2  880606923
4   166   346     1  886397596
5   298   474     4  884182806
6   115   265     2  881171488
7   253   465     5  891628467
8   305   451     3  886324817
9     6    86     3  883603013

The step just after is to get a tuple from the Marks column.
Tuple is a faster structure, and has the built-in method "count" which allows us to count the occurence of each mark. 
We just have to iterate from 1 to 5 and count.

In [46]:
markTuple = tuple(nba["User"])

for i in range(1,6):
    print ("The number of occurence for %s is %s." % (i,markTuple.count(i)))

The number of occurence for 1 is 272.
The number of occurence for 2 is 62.
The number of occurence for 3 is 54.
The number of occurence for 4 is 24.
The number of occurence for 5 is 175.