# Compute marks occurence from a csv file

First we need to import a library, and load the csv file thanks to it.

## Using pandas

In [32]:
import pandas
filePath = r"C:\Users\Stephane\Downloads\ml-100k\ml-100k\u.data"
nba = pandas.read_csv(filePath,sep="\t",header=None,names=["User","Item","Mark","Timestamp"])

It can be interesting to display the dataset layout.

In [33]:
nba.head(10)

   User  Item  Mark  Timestamp
0   196   242     3  881250949
1   186   302     3  891717742
2    22   377     1  878887116
3   244    51     2  880606923
4   166   346     1  886397596
5   298   474     4  884182806
6   115   265     2  881171488
7   253   465     5  891628467
8   305   451     3  886324817
9     6    86     3  883603013

The step just after is to get a tuple from the Marks column.
Tuple is a faster structure, and has the built-in method "count" which allows us to count the occurence of each mark. 
We just have to iterate from 1 to 5 and count.

In [34]:
markTuple = tuple(nba["Mark"])

for i in range(1,6):
    print ("The number of occurence for %s is %s." % (i,markTuple.count(i)))

The number of occurence for 1 is 6110.
The number of occurence for 2 is 11370.
The number of occurence for 3 is 27145.
The number of occurence for 4 is 34174.
The number of occurence for 5 is 21201.

## Using csv

In [35]:
import csv

%precision 2

with open(filePath) as csvfile:
    fieldnames = ['User', 'Item','Mark','TimeStamp']
    mpg = list(csv.DictReader(csvfile,delimiter='\t',fieldnames=fieldnames))

In [36]:
len(mpg)

100000

In [37]:
mpg[1]

{'Item': '302', 'Mark': '3', 'TimeStamp': '891717742', 'User': '186'}

In [38]:

j = [int(d['Mark']) for d in mpg]
for i in range(1,6):
    print("Le nombre d'occurences pour %s est %s" %(i,j.count(i)))

Le nombre d'occurences pour 1 est 6110
Le nombre d'occurences pour 2 est 11370
Le nombre d'occurences pour 3 est 27145
Le nombre d'occurences pour 4 est 34174
Le nombre d'occurences pour 5 est 21201